.nums{
    border: 2px solid rgb(80, 72, 72);
    /* width: fit-content; */
    padding: 5rem;
    background-color: black;
    color: white;
    border: 10px;
    font: 5rem;
    text-align:center;
}
.mybtn{
    background-color: #1c113a;
}